{% extends 'base.html' %}
{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to the about page! </p>
            </div>
        </div>
    </header>

    <div class = "container">
        <div class = "row">
            <div class = "col-8">
                <h1 class = "my-4">About Us</h1>
                <p> This is a website that allows users to create and share their own blogs. </p>
                <p> This website was created by <strong>John Doe</strong> and <strong>Jane Doe</strong>. </p>
            </div>
        </div>  
{% endblock %}
